# Back4App / Parse credentials (Vite exposes only VITE_-prefixed vars to the client)
VITE_PARSE_APP_ID=p0I3hHAOKgnCUt2ZycR4hiOTW2tJwYE3kekU1UvK
VITE_PARSE_CLIENT_KEY=wltXmWRpYnio5EhAIKFqHJkgfAfdyYQiqByqg63u
VITE_PARSE_SERVER_URL=https://parseapi.back4app.com/
